@import "../../vars.css";

.container {
  align-items: center;
  color: var(--color-text);
  margin-top: 50px;
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  padding: 30px 8%;
  gap: 20px;
}

.text h2 {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 2px;
}

.text p {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
}

.links {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.link img {
  width: 30px; /* size of the icon */
  height: 30px;
  transition: transform 0.3s ease;
}

.link img:hover {
  transform: scale(1.2); /* little hover effect */
}

@media screen and (max-width: 400px) {
  .container {
    gap: 15px;
    padding: 20px 5%;
  }
}
